{% extends "bootstrap_layout.html" %}
{% set active_page = "hello" %}

{% block content %}

    <h1>Welcome, hockey fans!</h1>
    <p></p>
    <h3>The NHL Daily Briefing</h3>
    <p>Want to always know which hockey game to watch? Or keep up to date on league standings? You're in the right place.
        NHL Daily Briefing is a free service that sends you an email every morning with a recommended game to watch that day, a list of all games happening, and current league standigns.</p>
    <h5>Recommended Game</h5>
    <p>Using a proprietary algorithum that considers your <b>favorite team</b>, <b>the expected excitement of the game</b>, and <b>historical rivalries</b>, the NHL Daily Briefing recommends a game for you to watch every day.</p>
    <h5>Today's Schedule</h5>
    <p>The NHL Daily Briefing will send you a list of every game happing that day, its time, the teams' records, and the networks the game will be boradcasted on. You will be ready to discuss the day's games in the break room at work!</p>
    <h5>League Standings</h5>
    <p>The email will also include the league's standings, broken down by conference and division, so you can track how your favorite team is doing.</p>

    <h3>Sample email</h3>
    <p>To see a sample email, go the 'Sample Email' tab.</p>

    <h3>Sign Up</h3>
    <p><b>To sign up for the NHL Daily Briefing, go to the 'Register' tab.</b></p>

{% endblock %}